<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.dao.IClassesDao">
	<!-- 将实体类和数据库列映射 -->
	<resultMap type="Classes" id="classesMap">
		<id property="cid" column="c_id" />
		<result property="cname" column="c_name" />
	</resultMap>
	<resultMap type="Teacher" id="teacherMap">
		<id property="tid" column="t_id"/>
		<result property="tname" column="t_name"/>
	</resultMap>
	<!-- 
        根据班级id查询班级信息(带老师的信息)
        ##1. 联表查询
        SELECT * FROM class c,teacher t WHERE c.teacher_id=t.t_id AND c.c_id=1;
        
        ##2. 执行两次查询
        SELECT * FROM class WHERE c_id=1;  //teacher_id=1
        SELECT * FROM teacher WHERE t_id=1;//使用上面得到的teacher_id
     -->
     <!-- 
     extends 继承id为classesMap resultMap
     association
     	property属性 Classes的属性 该属性的类型
      -->
     <resultMap type="Classes" id="ClassesAndTeacherMap" extends="classesMap">
    	<association property="teacher" javaType="Teacher" fetchType="lazy">
    		<id property="tid" column="t_id"/>
			<result property="tname" column="t_name"/>
    	</association>
     </resultMap>
     
     <select id="findClassesAndTeacher" resultMap="ClassesAndTeacherMap" >
     	 SELECT * FROM class c,teacher t WHERE c.teacher_id=t.t_id 
     </select>
     
     <!-- 2. 执行两次查询      根据班级id查询班级信息(带老师的信息)-->
     <select id="findClassesById" parameterType="int" resultMap="ClassResultMap2">
        select * from class where c_id=#{id}
     </select>
        <!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
     <resultMap type="Classes" id="ClassResultMap2">
        <id property="cid" column="c_id"/>
        <result property="cname" column="c_name"/>
        <association property="teacher" column="teacher_id" select="getTeacher"/>
     </resultMap>
     <select id="getTeacher" parameterType="int" resultMap="teacherMap">
    	 SELECT * FROM teacher WHERE t_id=#{id}
     </select>
     
     <!-- 三表连接 班级信息 老师信息  学生信息 -->
      <resultMap type="Classes" id="ClassesAndTeacherAndStudentMap" extends="classesMap">
    	<association property="teacher" javaType="Teacher" fetchType="lazy">
    		<id property="tid" column="t_id"/>
			<result property="tname" column="t_name"/>
    	</association>
    	<collection property="students" ofType="com.hwua.entity.Student">
    		<id property="s_id" column="s_id"/>
			<result property="s_name" column="s_name"/>
    	</collection>
     </resultMap>
     <!-- 
     
     SELECT s.*,c.*,t.* FROM student s 
		INNER JOIN class c ON c.c_id=s.class_id
		INNER JOIN teacher t ON c.teacher_id=t.t_id

	SELECT  s.*,c.*,t.* FROM student s,class c,teacher t WHERE 
	c.c_id=s.class_id AND c.teacher_id=t.t_id
     
     
      -->
     <select id="findAll" resultMap="ClassesAndTeacherAndStudentMap">
      SELECT s.*,c.*,t.* FROM student s 
		INNER JOIN class c ON c.c_id=s.class_id
		INNER JOIN teacher t ON c.teacher_id=t.t_id
     </select>
     
     
</mapper>