<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 加载 db.properties配置信息 -->
	<properties resource="db.properties"></properties>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<!-- typeAliases 类型别名 实体类型 -->
	<typeAliases>
		<typeAlias alias="Teacher" type="com.hwua.entity.Teacher" />
		<typeAlias alias="Classes" type="com.hwua.entity.Classes" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 读取映射文件  实体类型Mapper.xml -->
	<mappers>
		<!-- <mapper resource="com/hwua/mapper/UsersMapper.xml" /> -->
		 <mapper resource="com/hwua/mapper/ClassesMapper.xml" /> 
		<mapper resource="com/hwua/mapper/TeacherMapper.xml" /> 
	</mappers>
</configuration>